/*  CSS do HEADER */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f8f9fa;
}

.d-flex input {
    margin: 0 8px;
}

.d-flex button {
    margin: 0 8px;
    border: 1px solid #000000;
    color: #000000;
}

.d-flex button:hover {
    background-color: #000000;
    border: 1px solid #000000;
    transition: .5s ease-in;
}

.offcanvas-body a {
    font-weight: 500;
    font-size: 18px;
}

.offcanvas-body a:hover {
    opacity: .8;
}

.offcanvas-header h {
    user-select: none;
}

/*  CSS do Conteudo do Main/Section */

.banner-carousel {
    height: 80vh;
    width: 100%;
}

.banner-carousel h2 {
    color: #000000;
    font-weight: 800;
}

.banner-carousel p {
    color: #000000;
    font-weight: 400;
    font-style: italic;
}

.carousel-item img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.carousel-right {
    text-align: right;
}

.carousel-right h4 {
    color: #f8f9fa;
}

.carousel-right h2 {
    color: #f8f9fa;
}

.carousel-right button {
    color: #f8f9fa;
    background-color: #000000;
    border-color: #f8f9fa;
}

.carousel-right button:hover {
    color: #000000;
    background-color: #f8f9fa;
    border-color: #000000;
}

.section-two {
    padding: 0 22px;
    margin-bottom: 20px;
}

.section-two-title{
    margin-top: 5px;
    padding: 22px;
}

.section-two-title h3{
    font-weight: 700;
    text-align: center;
}

.col a {
    text-decoration: none;
    color: #000000;
}



.col:hover {
    opacity: .8;
    transform: scale(1.03);
    transition: .3s ease-in-out;
}

.card {
    border-radius: 1.5rem;
}


.card-img-top {
    height: 200px;
    object-fit: cover;
}

