/*  CSS do HEADER */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FBF7F0;
}

.d-flex input {
    margin: 0 8px;
}

.d-flex button {
    margin: 0 8px;
    border: 1px solid #000000;
    color: #000000;
}

.d-flex button:hover {
    background-color: #000000;
    border: 1px solid #000000;
    transition: .5s ease-in;
}

.offcanvas-body a {
    font-weight: 500;
    font-size: 18px;
}

.offcanvas-body a:hover {
    opacity: .8;
}

.offcanvas-header h {
    user-select: none;
}

/*  CSS do Conteudo do Main/Section */